html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.structure-index{
    width: 75%;
}


.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #194B74;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-weight: 500;
}

.header-content {
    display: flex;
    justify-self: space-between;
    align-items: center;
    margin-right: 30px;
}

.header-title {
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #194B74;
}

nav a.active{
    background-color: rgb(255, 255, 255);
    color: #194B74;
}

.content-about {
    min-height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0 auto;
}

.menu {
    background-color: #1a1a2e;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-weight: 700;
}

.menu-content {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item p {
    margin: 10px 0 0;
    font-size: 14px;
}

.menu-icon {
    width: 40px;
    height: 40px;
}

.footer-section {
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center; 
 }
 
 .footer-section a {
     color: rgb(255, 0, 0);
     text-decoration: none;
 }
 
 .footer-section a:hover {
     text-decoration: underline;
 }

 .about-section {
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    margin: 20px;
 }

 .about-section p{
    margin: 10px;
 }

 .about-section h1, .about-section h2{
    color: #333;
 }

 .about-section ul{
    list-style: disc;
    padding-left: 15px;
 }

 .about-section ul li{
    margin-bottom: 5px;
 }

 .page-icon {
    width: 100px;
    height: 100px;
    margin: 2px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.Me-icon {
    width: 250px;
    height: 300px;
    margin: 2px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item img {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
    margin: 50px auto;
}

label {
    font-weight: bold;
}

input, textarea, button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #555;
}

.degree-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

.degree-table th, .degree-table td {
    padding: 12px 15px;
    border: 1px solid #000000;
}

.degree-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.Ciber-icon{
    float: right;
    height: 500px; 
    width: 500px;
    margin: 40px;
}

.FCE-icon{
    float: right;
    height: 400px; 
    width: 500px;
    margin: 10px;
}

.UFV-logo{
    float: right;
    height: 55px; 
    width: 250px;
    margin-left: 500px;
}